<footer>
    <div class="container">
        <div class="row footer">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a href="index.html"><h4 class="logo-footer"><img style="width: 100px;" src="{{media}}img/logo-small-footer.png"></h4></a>
                        <p>
                            Facilitating high quality lodging in the Branson area
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h4>Activities</h4>
                        
                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-group"></i></span>Tablerock Lake
                                <ul class="list-unstyled">
                                    <li>Covered Boat Slip included</li>
                                    <li>Boating</li>
                                    <li>Fishing</li>
                                    <li>Also nearby - Indian Point Marina</li>
                                </ul>
                            </li>

                            <li><span class="box-small"><i class="icon-group"></i></span>Branson
                                <ul class="list-unstyled">
                                    <li>Shows</li>
                                    <li>Restaurants</li>
                                    <li>Go-Karts, Putt Putt</li>
                                </ul>
                            </li>
                        <li><span class="box-small"><i class="icon-group"></i></span>Silver Dollar City
                                <ul class="list-unstyled">
                                    <li>Rides</li>
                                    <li>Music</li>
                                    <li>Ozark Crafts and Practising Artesans</li>
                                </ul>
                            </li>
                        
                        <li><span class="box-small"><i class="icon-group"></i></span>Golf
                                <ul class="list-unstyled">
                                    <li>Payne Stewart</li>
                                    <li>etc</li>
                                </ul>
                            </li>
                        
                            <li><span class="box-small"><i class="icon-group"></i></span>And Much More!
                                <ul class="list-unstyled">
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Address</h4>
                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-building"></i></span>Branson Tablerock Oasis</li>
                            <li>Treehouse Condos</li>
                            <li>Branson .... </li>
                            <li><em>reserve at..... online for our unit</em></li>
                        </ul>
                        
                        <div class="spacer20"></div>
                        <h4>Contact</h4>
                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-book"></i></span> 574.707.5177</li>
                        </ul>
                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-desktop"></i></span> 
                                <a href="{{ root }}about/contact.........">Contact Form</a>
                            </li>
                            <li><a href="http://bransontablerockoasis.com/">BransonTablerockOasis.com</a>                              
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row after-footer">
            <div class="col-md-8">
                <p><strong>&copy;2015 BransonTablerockOasis - ALL RIGHTS RESERVED</strong>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <a href="https://www.facebook.com/bransontablerockoasis" target="_blank" class="social-icon-main"><i class="icon-facebook" title="facebook"></i></a>
                    {# <span class="divider-social"></span> #}
{#                     <a href="https://twitter.com/......." class="social-icon-main"><i class="icon-twitter" title="twitter"></i></a> #}                   
                    <span class="divider-social"></span>
                    <a href="https://www.youtube.com/user/......." target="_blank" class="social-icon-main"><i class="icon-youtube" title="youtube"></i></a>
                    <span class="divider-social"></span>
                    <a href="http://......../" target="_blank" class="social-icon-main social-text">Blog</a>
                </p>
            </div>
        </div>
    </div>
</footer>