{% extends "base/site-base.html" %}

{% block body %}

<section>
    <!-- revolution slider -->
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                {# Include slider contents #}
                {% include "components/index-slider.html" %}
            </ul>

            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>

<div class="container">

    <div class="row spacer20"></div>

    <h3>Our Vision</h3>
    <p>   
    To provide you with high quality lodging that enhances your vacation time.
    </p>
    
    <h3>Your Vacation</h3>
    <p>
    It is our sincere desire that you thoroughly enjoy your hard-earned time away from jobs and stress. We want your stay in our condo to be a relaxing oasis where the demands on your time melt away and are replaced by a renewed sense of wonder and appreication for God's creation. Nestled in the Ozark Mountains, Branson Tablerock Oasis is your home-away-from-home. Come and enjoy the splendor of Tablerock Lake from your expansive balcony or launch your boat from our covered slip. Boating, fishing, tubing, and swimming all await you if that is your desire. Championship golf courses, like the new Paine Stewart Top-of-the-Rock course are nearby. Closer yet is Silver Dollar City, the family friently attraction that helped launch Branson into one of the nation's top vacation destinations.
    </p>
    
    <h3>Oasis Condo</h3>
    <p>
    We invite you to experience our condo as your very own retreat designed for large families, multiple couples, or a renewal time for just you and your spouse. Each of the 3 bedrooms (and 3 bathrooms) are tastefully decorated and updated with the most modern ammenities. These are true bedrooms, not lofts or other semi-private rooms. The master suite includes not only its own private bath, but a walk-out to the balcony.
    </p>
    <p>
    The condo also boasts two separate living areas so that different activities can occur simultaneously. The main floor living area  has a sleeper sofa and boasts a 50" 1080p HD flatscreen TV. The upper floor living area has two sleeper sofas and a 40" 1080p HD flatscreen TV. Also each of the 3 bedrooms have their own 40" 1080p HD flatscreen TVs, so everybody can be happy. Thus the condo can accomodate 12 people on beds, which includes the three traditional beds and the three sleeper sofas.
    </p>
    <p>
    Our condo is located about mid-point on the ridge. If you walk down the slope you will arrive at the water's edge at the boathouse where a slip awaits your boat. If you walk up the slope from the condo, you can swim in the outdoor pool or check out the indoor pool, hot tub, and exercise room. Have your own boat? There is a gravel parking lot where you can park your trailer after you launch - do this either next door or at Indian Point Marina.
    </p>
    <h3>Location</h3>
    <p>
    Our condo is located in the Treehouse Condos community on Indian Point, Branson, Missouri - right on Tablerock Lake. We are just over 1 mile past Silver Dollar City, so you can actually skip downtown Branson by entering from either the North or South route. Our community not only has lake views, but is on the lake itself.  
    </p>   

</div>

{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">
        var tpj = jQuery;
        tpj.noConflict();

        tpj(document).ready(function () {

            if (tpj.fn.cssOriginal != undefined)
                tpj.fn.css = tpj.fn.cssOriginal;

            tpj('.fullwidthbanner').revolution({
                delay: 6000,
                startwidth: 960,
                startheight: 500,

                onHoverStop: "off", // Stop Banner Timet at Hover on Slide on/off

                thumbWidth: 100, // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                thumbHeight: 50,
                thumbAmount: 3,

                hideThumbs: 0,
                navigationType: "none", // bullet, thumb, none
                navigationArrows: "solo", // nexttobullets, solo (old name verticalcentered), none

                navigationStyle: "round", // round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


                navigationHAlign: "center", // Vertical Align top,center,bottom
                navigationVAlign: "bottom", // Horizontal Align left,center,right
                navigationHOffset: 0,
                navigationVOffset: 20,

                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 10,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 10,
                soloArrowRightVOffset: 0,

                touchenabled: "on", // Enable Swipe Function : on/off



                stopAtSlide: -1, // Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
                stopAfterLoops: -1, // Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

                hideCaptionAtLimit: 0, // It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
                hideAllCaptionAtLilmit: 0, // Hide all The Captions if Width of Browser is less then this value
                hideSliderAtLimit: 0, // Hide the whole slider, and stop also functions if Width of Browser is less than this value


                fullWidth: "on",

                shadow: 0 //0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)

            });




        });
    </script>
{% endblock %}