{% extends "base/subpage.html" %}

{% block subheading %}Photo Gallery{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}photogallery.html">Photo Gallery</a></li>
{% endblock %}


{% block content %}

 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h4 class="page-header">Thumbnail Gallery</h4>
            </div>

            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <a href="{{ media }}img/gallery/balconymorning.jpg" class="zoom popup-link">
                    <img class="img-responsive" src="{{ media }}img/gallery/balconymorning.jpg" alt="">
                        <div class="our-team-text">
                            <p>Morning sunriste off of our balcony</p>
                        </div> 
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <a href="{{ media }}img/gallery/outdoorpoolsm.jpg" class="zoom popup-link">
                    <img class="img-responsive" src="{{ media }}img/gallery/outdoorpoolsm.jpg" alt="">
                        <div class="our-team-text">
                            <p>Outdoor seasonal pool</p>
                        </div> 
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <a href="{{ media }}img/gallery/boathouse.jpg" class="zoom popup-link">
                    <img class="img-responsive" src="{{ media }}img/gallery/boathouse.jpg" alt="">
                        <div class="our-team-text">
                            <p>Boathouse where our slip is</p>
                        </div> 
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <a href="{{ media }}img/gallery/treehouseentrance.jpg" class="zoom popup-link">
                    <img class="img-responsive" src="{{ media }}img/gallery/treehouseentrance.jpg" alt="">
                        <div class="our-team-text">
                            <p>Look for this sign on your left</p>
                        </div> 
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <a href="{{ media }}img/gallery/treehousefromlake.jpg" class="zoom popup-link">
                    <img class="img-responsive" src="{{ media }}img/gallery/treehousefromlake.jpg" alt="">
                        <div class="our-team-text">
                            <p>View from Table Rock Lake</p>
                        </div> 
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <a href="{{ media }}img/gallery/fitnessroom.jpg" class="zoom popup-link">
                    <img class="img-responsive" src="{{ media }}img/gallery/fitnessroom.jpg" alt="">
                        <div class="our-team-text">
                            <p>Fitness room</p>
                        </div> 
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <a href="{{ media }}img/gallery/balconynear.jpg" class="zoom popup-link">
                    <img class="img-responsive" src="{{ media }}img/gallery/balconynear.jpg" alt="">
                        <div class="our-team-text">
                            <p>Looking off the balcony</p>
                        </div> 
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <a href="{{ media }}img/gallery/treeofheaven.jpg" class="zoom popup-link">
                    <img class="img-responsive" src="{{ media }}img/gallery/treeofheaven.jpg" alt="">
                        <div class="our-team-text">
                            <p>The name of our particular building</p>
                        </div> 
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <a href="{{ media }}img/gallery/indoorhottubs.jpg" class="zoom popup-link">
                    <img class="img-responsive" src="{{ media }}img/gallery/indoorhottubs.jpg" alt="">
                        <div class="our-team-text">
                            <p>Indoor hot tubs</p>
                        </div> 
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <a href="{{ media }}img/gallery/indoorexercisetub.jpg" class="zoom popup-link">
                    <img class="img-responsive" src="{{ media }}img/gallery/indoorexercisetub.jpg" alt="">
                        <div class="our-team-text">
                            <p>This is an exercise pool</p>
                        </div> 
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <a href="{{ media }}img/gallery/boatslip.jpg" class="zoom popup-link">
                    <img class="img-responsive" src="{{ media }}img/gallery/boatslip.jpg" alt="">
                        <div class="our-team-text">
                            <p>Our boat slip in the boat house</p>
                        </div> 
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
        </div>

    </div>



<div class="text-center">
    <a href="http://www.vrbo.com/686045/">
        <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
    </a>
</div>


{% endblock %}