{% extends "base/subpage.html" %}

{% block subheading %}Photo Gallery{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}photogallery.html">Photo Gallery</a></li>
{% endblock %}

{% block extra_styles %}
<link href="css/thumbnail-gallery.css" rel="stylesheet">
{% endblock %}

{% block content %}



<div class="container photo-gallery">

  <div class="row">
    <div class="col-md-12">
      <ul id="portfolio-filter">
        <li class="act"><a href="#" class="filter" data-filter="*">All</a></li>
        <li><a href="#" class="filter" data-filter=".interior">Interior</a></li>
        <li><a href="#" class="filter" data-filter=".mainlevel">Main Level</a></li>
        <li><a href="#" class="filter" data-filter=".secondlevel">Second Level</a></li>
        <li><a href="#" class="filter" data-filter=".exterior">Exterior</a></li>
        <li><a href="#" class="filter" data-filter=".balconyview">Balcony View</a></li>
      </ul>

      <section id="portfolio-items">
        <ul class="portfolio">

          <!-- Portfolio Item -->
            <li>
              <article class="col-md-3 project" data-tags="exterior,balconyview">
                <div class="project-item-isotope">
                  <div class="project-image">
                    <a href="{{ media }}img/gallery/mistybalcony.jpg" class="popup-link" title="A misty morning sunrise">
                      <img src="{{ media }}img/gallery/mistybalconysmall.jpg" alt="sdf">
                    </a>
                  </div>
                  <div class="project-text">
                    A misty morning sunrise
                  </div>
                </div>
              </article>
            </li>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item -->
            <li>
              <article class="col-md-3 project" data-tags="interior,mainlevel">
                <div class="project-item-isotope">
                  <div class="project-image">
                    <a href="{{ media }}img/gallery/vaultedlivingareas.jpg" class="popup-link" title="Vaulted ceilings in the main level">
                      <img src="{{ media }}img/gallery/vaultedlivingareassmall.jpg" alt="sdf">
                    </a>
                  </div>
                  <div class="project-text">
                    Vaulted ceilings in the main level
                  </div>
                </div>
              </article>
            </li>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item -->
            <li>
              <article class="col-md-3 project" data-tags="exterior">
                <div class="project-item-isotope">
                  <div class="project-image">
                    <a href="{{ media }}img/gallery/boatslip.jpg" class="popup-link" title="Our boat slip in the boathouse, included in rental">
                      <img src="{{ media }}img/gallery/boatslipsmall.jpg" alt="sdf">
                    </a>
                  </div>
                  <div class="project-text">
                    Our boat slip in the boathouse, included in rental
                  </div>
                </div>
              </article>
            </li>
          <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/balconymorning.jpg" class="popup-link" title="Morning sunrise off of our balcony">
                    <img src="{{ media }}img/gallery/balconymorning.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Morning sunrise off of our balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/masterbedroom1.jpg" class="popup-link" title="Master bedroom with walkout to balcony">
                    <img src="{{ media }}img/gallery/masterbedroom1small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Master bedroom with walkout to balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/outdoorpool1.jpg" class="popup-link" title="Outdoor seasonal pool">
                    <img src="{{ media }}img/gallery/outdoorpool1small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Outdoor seasonal pool
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->


        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/cathedralstairsbar.jpg" class="popup-link" title="Breakfast bar and stairs leading to the second level">
                    <img src="{{ media }}img/gallery/cathedralstairsbarsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Breakfast bar and stairs leading to the second level
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/boathouse.jpg" class="popup-link" title="Covered boathouse on the property, included in rental">
                    <img src="{{ media }}img/gallery/boathousesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Covered boathouse on the property for the boat slip, included in rental
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/booksfuton.jpg" class="popup-link" title="Upper level futon and books for guests to read">
                    <img src="{{ media }}img/gallery/booksfutonsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Upper level futon and books for guests to read
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/enteringview.jpg" class="popup-link" title="Your first view upon entering our condo">
                    <img src="{{ media }}img/gallery/enteringviewsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Your first view upon entering our condo
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/fitnessroom.jpg" class="popup-link" title="Fitness room">
                    <img src="{{ media }}img/gallery/fitnessroomsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Fitness room
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->


        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/stairsupperliving.jpg" class="popup-link" title="Second level living area">
                    <img src="{{ media }}img/gallery/stairsupperlivingsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Second level living area
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/queensofaleaves.jpg" class="popup-link" title="Main living area sofa sleeper with balcony views">
                    <img src="{{ media }}img/gallery/queensofaleavessmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Main living area sofa sleeper with balcony views
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/indoorexercisetub.jpg" class="popup-link" title="Indoor exercise pool">
                    <img src="{{ media }}img/gallery/indoorexercisetubsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Indoor exercise pool
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/upperbedroom.jpg" class="popup-link" title="Upper level bedroom">
                    <img src="{{ media }}img/gallery/upperbedroomsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Upper level bedroom
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/sunrisebalcony.jpg" class="popup-link" title="Early sunrise over Tablerock Lake from our balcony">
                    <img src="{{ media }}img/gallery/sunrisebalconysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Early sunrise over Tablerock Lake from our balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/leatherchairs.jpg" class="popup-link" title="Leather chairs for reading or watching TV">
                    <img src="{{ media }}img/gallery/leatherchairssmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Leather chairs for reading or watching TV
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/dining1.jpg" class="popup-link" title="Dining area">
                    <img src="{{ media }}img/gallery/dining1small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Dining area
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/indoorhottubs.jpg" class="popup-link" title="Indoor hot tubs">
                    <img src="{{ media }}img/gallery/indoorhottubssmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Indoor hot tubs
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/enteringcondo.jpg" class="popup-link" title="Entering the front door">
                    <img src="{{ media }}img/gallery/enteringcondosmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Entering the front door
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/treehouseentrance.jpg" class="popup-link" title="Entrance to Treehouse Condos">
                    <img src="{{ media }}img/gallery/treehouseentrancesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Entrance to Treehouse Condos
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/gametable1.jpg" class="popup-link" title="Game table, games in the closet">
                    <img src="{{ media }}img/gallery/gametable1small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Game table, games in the closet
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/guestbookunderstairs.jpg" class="popup-link" title="Guest guidebook">
                    <img src="{{ media }}img/gallery/guestbookunderstairssmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Guest guidebook
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/treehousefromlake.jpg" class="popup-link" title="View of Treehouse Condos from Table Rock Lake">
                    <img src="{{ media }}img/gallery/treehousefromlakesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  View of Treehouse Condos from Table Rock Lake
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel,balcony">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/interioroutbalcony.jpg" class="popup-link" title="View from inside looking out at the Tablerock Lake">
                    <img src="{{ media }}img/gallery/interioroutbalconysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  View from inside looking out at the Tablerock Lake
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/kitchen.jpg" class="popup-link" title="Fully equipped kitchen">
                    <img src="{{ media }}img/gallery/kitchensmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Fully equipped kitchen
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/mainlevel2ndbedroom.jpg" class="popup-link" title="Second bedroom on the main level">
                    <img src="{{ media }}img/gallery/mainlevel2ndbedroomsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Second bedroom on the main level
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/lakesideexterior.jpg" class="popup-link" title="Near view of the downslope side of our condo, top middle">
                    <img src="{{ media }}img/gallery/lakesideexteriorsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Near view of the downslope side of our condo, top middle
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/masterbedroom2.jpg" class="popup-link" title="Master bedroom with en suite">
                    <img src="{{ media }}img/gallery/masterbedroom2small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Master bedroom with en suite
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/upperbathroom.jpg" class="popup-link" title="Upstairs full bathroom">
                    <img src="{{ media }}img/gallery/upperbathroomsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Upstairs full bathroom
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/mainlivingtvwall.jpg" class="popup-link" title="Main living area with large TV">
                    <img src="{{ media }}img/gallery/mainlivingtvwallsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Main living area with large TV
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/laundry.jpg" class="popup-link" title="Our laundry room is available to guests">
                    <img src="{{ media }}img/gallery/laundrysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Our laundry room is available to guests
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/balconysnowscape.jpg" class="popup-link" title="Snowy view from the balcony">
                    <img src="{{ media }}img/gallery/balconysnowscapesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Snowy view from the balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/mainlevelbathroom.jpg" class="popup-link" title="Main level guest bathroom">
                    <img src="{{ media }}img/gallery/mainlevelbathroomsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Main level guest bathroom
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/queensofa1.jpg" class="popup-link" title="Queen sofa sleeper">
                    <img src="{{ media }}img/gallery/queensofa1small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Queen sofa sleeper
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/mainlivingfromabove.jpg" class="popup-link" title="View of the main living area from above">
                    <img src="{{ media }}img/gallery/mainlivingfromabovesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  View of the main living area from above
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/interiorentrance.jpg" class="popup-link" title="Front door from inside">
                    <img src="{{ media }}img/gallery/interiorentrancesmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Front door from inside
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/gametablefuton.jpg" class="popup-link" title="Game table, futon, and reading material">
                    <img src="{{ media }}img/gallery/gametablefutonsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Game table, futon, and reading material
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/exercisefacility.jpg" class="popup-link" title="Exercise facility for guests 18 and older">
                    <img src="{{ media }}img/gallery/exercisefacilitysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Exercise facility for guests 18 and older
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/masterbathroom.jpg" class="popup-link" title="Master bathroom">
                    <img src="{{ media }}img/gallery/masterbathroomsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Master bathroom
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/beautifulbalconyview.jpg" class="popup-link" title="Another beautiful day">
                    <img src="{{ media }}img/gallery/beautifulbalconyviewsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Another beautiful day
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->


        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/indianpointmarina.jpg" class="popup-link" title="Indian Point Marina">
                    <img src="{{ media }}img/gallery/indianpointmarinasmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Indian Point Marina
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/chairyhalfstairs.jpg" class="popup-link" title="Seating and stairs going up">
                    <img src="{{ media }}img/gallery/chairyhalfstairssmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Seating and stairs going up
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/breakfastbar.jpg" class="popup-link" title="Breakfast bar in front of kitchen">
                    <img src="{{ media }}img/gallery/breakfastbarsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Breakfast bar in front of kitchen
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,mainlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/dining2.jpg" class="popup-link" title="Dining area with vaulted ceiling and lake views">
                    <img src="{{ media }}img/gallery/dining2small.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Dining area with vaulted ceiling and lake views
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/redbudbalcony.jpg" class="popup-link" title="Redbud trees in bloom from the balcony">
                    <img src="{{ media }}img/gallery/redbudbalconysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Redbud trees in bloom from the balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/fullsleepersofa.jpg" class="popup-link" title="Full sleeper sofa on second level">
                    <img src="{{ media }}img/gallery/fullsleepersofasmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Full sleeper sofa on second level
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="interior,secondlevel">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/gamecloset.jpg" class="popup-link" title="Linens and games on the second level">
                    <img src="{{ media }}img/gallery/gameclosetsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Linens and games on the second level
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/indianpointboatrental.jpg" class="popup-link" title="Indian Point Marina boat rental">
                    <img src="{{ media }}img/gallery/indianpointboatrentalsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  Indian Point Marina boat rental
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/foggybalcony.jpg" class="popup-link" title="A foggy sunrise from the balcony">
                    <img src="{{ media }}img/gallery/foggybalconysmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  A foggy sunrise from the balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->

        <!-- Portfolio Item -->
          <li>
            <article class="col-md-3 project" data-tags="exterior,balconyview">
              <div class="project-item-isotope">
                <div class="project-image">
                  <a href="{{ media }}img/gallery/balconynear.jpg" class="popup-link" title="View over the balcony">
                    <img src="{{ media }}img/gallery/balconynearsmall.jpg" alt="sdf">
                  </a>
                </div>
                <div class="project-text">
                  View over the balcony
                </div>
              </div>
            </article>
          </li>
        <!-- Portfolio Item End -->


        </ul>
      </section>
    </div>
  </div>
</div>



<div class="text-center">
    <a href="http://www.vrbo.com/686045/">
        <img src="{{ media }}img/bookNowOnVRBO.jpg" alt="#">
    </a>
</div>


{% endblock %}
