{% extends "base/subpage.html" %}

{% block subheading %}Rental Rates{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}rentalrates.html">Rental Rates</a></li>
{% endblock %}

{% block content %}
     

<div class="row">
    <div class="col-md-8">
        <div class="spacer20 visible-xs visible-sm"></div>
        <h2>2015 Rental Rates</h2>
        <h3>3 bedrooms, 3 baths, 2 living areas, huge TVs, sleeps 10 on beds</h3>
        <h5>Jan 4th  - Feb 28th, 2 nights minimum stay, $150 per night</h5> 
        <h5>Mar 1st  - May 14th, 3 nights minimum stay, $225 per night</h5> 
        <h5>May 15th - Sept 6th, 3 nights minimum stay, $260 per night</h5> 
        <h5>Sept 7th - Oct 15th, 3 nights minimum stay, $225 per night</h5> 
        <h5>Oct 16th - Jan 3rd, 3 nights minimum stay, $245 per night</h5> 
        <p>Plus 6.1% Tax and $110 Cleaning Fee</p>
    </div>
    
    <div class="col-md-4 text-center">
        <img src="{{ media }}img/history/cliffeleanor.jpg" alt="">
    </div>
</div>


{% endblock %}